In [12]:
#importing libraries 

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [13]:
# Loading the dataset 

Df=pd.read_csv('C:/Users/LENOVO/Downloads/advertising.csv')
Df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [14]:
Df.shape

(200, 4)

In [15]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [16]:
Df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [17]:
Df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [18]:
Df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [20]:
X=Df.drop(columns=['TV','Sales'],axis=1)
Y=Df['Sales']

In [21]:
print(X)

     Radio  Newspaper
0     37.8       69.2
1     39.3       45.1
2     45.9       69.3
3     41.3       58.5
4     10.8       58.4
..     ...        ...
195    3.7       13.8
196    4.9        8.1
197    9.3        6.4
198   42.0       66.2
199    8.6        8.7

[200 rows x 2 columns]

In [23]:
print(Y)

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [24]:
# Spliting the training data and test data

X_train, X_test, Y_train, Y_test =train_test_split(X,Y, test_size=0.2, random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(200, 2) (160, 2) (40, 2)

In [27]:
# model Training 

model=LinearRegression()

In [28]:
model.fit(X_train,Y_train)

LinearRegression()

In [29]:
print('intercept:=b0', model.intercept_)
print('slope:=b1 & b2', model.coef_)

intercept:=b0 10.95724442864592
slope:=b1 & b2 [0.14697876 0.01946178]

In [30]:
X_train_prediction=model.predict(X_train)

In [31]:
print(X_train_prediction)

[16.36679899 16.51008015 16.99395078 16.28403576 15.01801299 17.63160326
 16.61950605 16.946921   13.70694039 19.60413952 14.33503128 12.55844975
 14.5625819  15.52973937 13.16532744 18.98316487 14.61573796 11.28536161
 14.24236786 18.95800843 15.38604371 16.75875932 13.22708054 15.06358742
 12.63977473 14.5734212  14.67174551 13.1520257  11.5142575  12.46450861
 11.50092199 16.90402043 12.1995069  12.53854803 17.61123616 13.74290236
 12.17484961 15.15020923 14.21503671 13.07225785 19.02136075 17.49222323
 14.95158898 12.7695594  13.76672187 17.8597969  13.85746456 11.62123807
 18.17088931 17.92213381 16.06781526 17.2604333  18.33364058 16.57454088
 15.4224965  15.95749236 14.24338327 17.86357083 15.47411254 12.28418253
 18.50728203 11.1362928  17.44269723 12.66138577 17.72905603 13.13965473
 12.16418796 19.3857022  18.55531012 14.65820692 11.81995131 17.97955462
 15.79540955 12.44870233 14.82787136 17.11094999 17.17854996 13.88959338
 11.83508079 18.15456677 11.85843493 17.93513947 14.32645968 14.47195765
 18.25626718 13.19565395 13.22292588 18.0306715  18.29779704 12.27799704
 15.21324004 13.55979232 15.89306541 14.8417569  15.31054894 16.20796551
 11.66768405 11.30703187 14.84986313 15.16296092 11.59526929 17.52601049
 15.50894066 11.76156597 11.76963842 11.58649461 18.19063883 13.26206086
 18.92530413 12.4041771  11.36286178 13.72033511 11.4116601  12.77313025
 18.41872238 16.87041081 17.12112082 13.39308947 11.78358318 14.99593657
 12.08625618 17.8569454  15.31557514 17.96743761 15.12755733 13.19109313
 13.10711974 16.13369757 17.93897262 13.28694667 18.67468711 18.98110026
 13.90265826 15.56468592 13.83364504 12.43830298 11.45285135 13.02029485
 13.68118303 12.85821204 12.09909253 19.10739875 13.55726233 17.1487226
 17.11208383 14.26589964 15.47129482 17.4169061  16.30645914 16.63130155
 12.78873344 14.11578164 14.06378487 16.1017635  19.12009957 12.70565704
 14.25951107 16.18315602 18.99765966 15.5469418 ]

In [32]:
r2=model.score(X_train, Y_train)

In [33]:
print(r2)

0.1855979730431968

In [34]:
Prediction_model=[[100,100,100]]

In [37]:
print('Sales of TV, Radio and Newspaper is :', Prediction_model)

Sales of TV, Radio and Newspaper is : [[100, 100, 100]]